---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="{{ post.categories }}">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
          {{ post.excerpt }}<a href="{{ post.url | relative_url }}">Read More..</a>
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $(window).on('hashchange',function(){ 
    window.location.reload(true); 
  });
  var $hash = window.location.hash.substring(1);
  if($hash) {
    $('li:not(.'+$hash+')').hide();
  }
</script>
